@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");

header.row {
  color: transparent !important;
  background-color: transparent !important;
}
.search_box {
  width: 14%;
  position: relative;
  margin-top: 7%;
}
h1,
h2,
label,
button {
  color: white !important;
}
img.large {
  border-radius: 6%;
  width: 500px !important;
  margin: 5% 0% 0% 0%;
}
div.col-1 {
  margin: 5%;
  background-color: violet !important;
  border-radius: 6% !important;
  padding: 2% !important;
}
.card-body,
aside.open,
button.close-sidebar {
  background-color: violet !important;
}
li a {
  color: black !important;
}
button {
  color: thistle !important;
  background-color: black;
}
.top ul {
  background-color: violet !important;
  margin: 3%;
  border-radius: 1%;
  padding: 2%;
}
div.row.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.search_box input[type="text"] {
  width: 180px;
  padding: 6px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid transparent;
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
  outline: none;
}
.search_box {
  text-align: center;
}
.searchbtn {
  background-color: black !important;
  border: 2px solid black;
  border-radius: 10px;
}
div.row-select {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 4% 0% 4% 0%;
}
.fa-search {
  position: absolute;
  top: 50%;
  transform: translateY(-130%);
  left: 130px;
  color: #fff;
  font-size: 17px;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}
html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
form.form {
  color: white !important;
}
body {
  background-image: url(https://images2.alphacoders.com/605/60592.jpg);
  background-color: black !important;
  margin: 0;
  height: 100vh;
  font-size: 1.3rem;
  font-family: "Chelsea Market", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #203040;
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: black;
  cursor: pointer;
}
.searchbtn:hover {
  border: 0px solid transparent;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
.searchbtn {
  background-color: #f0c040;
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}
/* Header */
header a {
  color: #ffffff;
  padding: 1rem;
}
a.brand {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}
.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}
.blackkinght {
  width: 40px;
  height: 30px;
  margin: 5% 0% -12% 0%;
}
.row-select select {
  color: white;
  background-color: black;
}
.back {
  font-size: 18px;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 32 1 75rem;
}
.min-30 {
  min-width: 30rem;
}
.p-1 {
  padding: 1rem;
}
/* Aside */
aside {
  position: fixed;
  width: 30rem;
  height: 100%;
  background-color: #efefef;
  z-index: 1000;
  transform: translateX(-30rem);
  transition: all 0.5s;
}
aside.open {
  transform: translateX(0);
}
button.open-sidebar {
  font-size: 3rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  background: none;
  color: #ffffff;
  cursor: pointer;
}
button.open-sidebar:hover {
  border-color: #ffffff;
}
aside ul {
  padding: 0;
  list-style: none;
}
aside li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
button.close-sidebar {
  padding: 0.3rem 0.8rem;
}
/*buttons*/
.control-dots {
  background-color: transparent !important;
  color: white !important;
}
.dot {
  color: white !important;
  background-color: white !important;
}
a.active,
.pagination a {
  color: white !important;
}
.fontmarvel {
  margin: 3% 0% 1% 0%;
}
.summary-body {
  color: white !important;
}
/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 10rem;
  /* width: 100%; */
}
img.medium {
  max-width: 29rem;
  min-height: 27rem;
  width: 100%;
}
img.large {
  width: 100%;
}
.table {
  background-color: violet !important;
}
.alert-info {
  margin: 5%;
}
/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}
/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}
/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}
/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}
/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}
/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}
/* Carousel */
.carousel .slide img {
  max-width: 30rem;
}
.carousel-status,
.control-dots {
  display: none;
}

/* Search */
.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-right: 0.5rem;
}
.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-left: 0.5rem;
}
.active {
  font-weight: bold;
}

/* Map */
.full-container {
  margin: -1rem;
  height: calc(100% + 2rem);
}
.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 4rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.shippingadd,
  .shcartadd,
  .checkout-steps {
    margin: 14% 0% 0% 0%;
  }
.card-body img {
    text-align: center;
    margin: 20% 0% 8% 0%;
  }
.backorange {
    background-color: rgb(168, 192, 219) !important;
    margin: 5% 0% 5% 0%;
    position: relative;
    left: 80px;
  }
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
/* Pagination */
.pagination a {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pagination a.active {
  font-weight: bold;
}

/* Dashboard */

.summary > li {
  border: 0.1rem #c0c0c0 solid;
  margin: 2rem;
  border-radius: 0.5rem;
  flex: 1 1 20rem;
}
.summary-title {
  font-size: 2rem;
  padding: 1rem;
}
.summary-body {
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
}

.summary-title.color1 {
  background-color: #f0e0e0;
}
.summary-title.color2 {
  background-color: #e0f0e0;
}
.summary-title.color3 {
  background-color: #e0e0f0;
}
.rc-footer-bottom-container {
  /* max-width: 5000px !important; */
  background-color: black;
  border-radius: 50% !important;
  padding: 2px !important;
}
.rc-footer-container {
  margin-top: 10% !important;
  padding: 2px !important;
  /* max-width: 5000px !important; */
  background-color: black;
}
.rc-footer-dark {
  background-color: transparent !important;
}
@media only screen and (max-width: 600px) {
  .searchbtn {
    display: none;
  }
  .search_box {
    margin: 0% 5% 0% 0%;
  }
  h2.fontmarvel {
    margin: 27% 0% 0% 0%;
  }
  .ptbar {
    margin: 1% 0% 10% 8%;
  }
  .ptsearch {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    margin: 4% 0% 2% 20%;
  }
  .rc-footer-columns,
  .rc-footer-container {
    display: none;
  }
  .rc-footer-bottom-container {
    margin: 30% 0% 0% 0% !important;
  }
  .customtable {
    margin: 20% 0% 0% 0% !important;
  }
  .pagination {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10% 0% 0% 0% !important;
  }
  table.table {
    font-size: 8px;
  }
  button.small {
    font-size: 5px;
    padding: 2%;
  }
  td {
    padding: 1% !important;
  }
  main {
    margin: 20% 0% 0% 0%;
  }
  .col-2 {
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 20% 0% 10% 29%;
  }
  .top {
    display: flex;
    flex-wrap: wrap;
  }
  .shcart ul {
    font-size: 10px;
    padding: 4%;
  }
  .shcart {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 10% 0% 10% 30% !important;
  }
  .shcart h1 {
    display: none;
  }
  img.large {
    max-width: 300px;
    max-height: 280px;
  }
  /* .shippingadd {
    margin: 20% 0% 0% 0%;
  } */
  .PLC {
    position: relative;
    top: 8px;
  }
  .small {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    position: relative;
    left: 87px !important;
    bottom: 20px !important;
  }
  .smalls {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    position: relative;
    left: 100px;
    margin: 0% 0% 10% 0%;
  }
  a.brand {
    word-spacing: 10px;
    letter-spacing: 5px;
  }
  .ptbar {
    margin: 6% 0% 10% 10%;
  }
  .row-select {
    margin: 16% 11% 28% 0% !important;
    font-size: 6px !important;
  }
  option {
    font-size: 8px !important;;
  }
  .hdown {
    margin: 14% 0% -20% 2%;
  }
  button.small {
    font-size: 5px;
    position: relative !important;
    left: 6px !important;
    bottom: -2px !important;
    padding: 14%;
  }
  .back {
    position: relative;
    bottom: -40px;
    right: -40px;
  }
  .p-1 {
    margin: 2% 0% 8% 0%;
  }
  .p-1 h1 {
    position: relative;
    top: 50px;
    right: 19px;
  }
  .sellertop {
    margin: 13% 0% 0% 0% !important;
  }
}
.smalls {
  width: 100px;
}
